<% content_for :navbar_links do %>
<li><%= link_to "Edit Profile", logout_path%></li>
<% end %>

<div class="page-heading">
<div class="container">  <h1>New Business</h1></div>
</div>
<div>
<%= form_for @business do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :about, placeholder: "About" %>
  <%= f.file_field :picture %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Register Business" %>
<% end %>
