<div class="watchlist">
<%=  @current_watchlist.watchlist_jobs_and_quantity.each do |job, quantity| %>
  <div id="watchlist_job"><%= job.title %></div>
  <div id="remove_from_joblist_button"> <td><%= link_to "Remove From Joblist", joblist_path(job), method: :delete %></td>
  <p>Modify Quantity </p>
    <div id="modify_quantity_button"> 
      <td> <%= button_to '+1', {:controller => "watchlist", :action => "update", :item_id => item.id, :quantity => "increase" } , :method=>:put  %> </td>
      <td> <%= button_to '-1', {:controller => "watchlist", :action => "update", :item_id => item.id, :quantity => "decrease" } , :method=>:put  %> </td>
   </div>
<% end %>

<div id="order_button"><%= button_to 'Submit Order', orders_path(:watchlist => @current_watchlist.watchlist_jobs) %></div>
</div>
