<div class="job job-listing-<%= job.title.parameterize %>" style="background: green;">

    <div class="header">
        <%= link_to job.title, job %>
    </div>

    <div class="description">
        <%= job.description %>
    </div>

    <div class="button">
      <%= job.id %>
      <%= button_to "Watch This Job", watchlist_path(job_id: job.id) %> </p>
    </div>

</div>
