<div class=" row job <% job.tags.each do |tag| %>job-tag-<%= tag.name %> <% end %> job-status-<%= job.status %> job-listing-<%= job.title.parameterize %> gh-<%= type %>" >
  <div class="gh-job-icon-area">
    <div><%= link_to (image_tag Faker::Company.logo, class: "img-responsive"), job.business %></div>
  </div>
  <div class='gh-job-details'>
    <div class="gh-job-header">
      <%= link_to job.title, job %>
    </div>
    <div class="location">
      <%= job.location %>
    </div>
    <br>
    <div class="description">
      <%= job.short_desc %>
      <div class="gh-job-tag-row" >
        <% job.tag_names.each do |tag_name| %>
            <div class="gh-tag" style="background-color:<%= tag_name.color %>">
              <%= tag_name.name  %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="button">
    <% if type == "watchlist" %>
      <%= button_to "Remove From Watchlist", watchlist_path, method: :delete, class: "btn btn-default" %>
    <% else %>
      <%= button_to "Watch This Job", watchlist_path(job_id: job.id), class: "btn btn-default gh-form-button" %> </p>
    <% end %>
  </div>

</div>
