<div class="job job-status-<%= job.status %> job-listing-<%= job.title.parameterize %> gh-<%= type %>" >
  <div class='gh-job-details'>
    <div class="gh-job-header">
      <%= link_to job.title, job %>
    </div>


    <div class="description">
      <%= job.description %>
    </div>
    <div class="address">
      <%= job.address.full_address if job.address %>
    </div>
  </div>


  <div class="button">
    <% if type == "watchlist" %>
      <%= button_to "Remove From Watchlist", watchlist_path, method: :delete %>
    <% else %>
      <%= button_to "Watch This Job", watchlist_path(job_id: job.id) %> </p>
    <% end %>
  </div>

</div>
