<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<div class='row'>
  <div class="col-md-9 col-centered">
    <div class="panel-body gh-main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="joblist">
            <div class="gh-form-button change-tag-button change-tag-all col-md-2
            btn btn-default">
              All
            </div>
            <% @tags.each do |tag| %>
              <div class="gh-form-button change-tag-button change-tag-<%= tag.name %> col-md-2
              btn btn-default">
                <%= tag.name %>
              </div>
            <% end %>
             <%= render partial: "/jobs/job", collection: @jobs, locals: {type: "index" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "profile" %>
