<% content_for :navbar_links do %>
<li><%= link_to "Edit Profile", logout_path%></li>
<% end %>

<div class="page-heading">
<div class="container">  <h1>Profile:  <%= @user.full_name %></h1></div>
</div>
<div>

<div class='container-fluid page-content'>
  <div class="row">
    <div class="col-md-3">
      <div class="panel-body gh-address-box">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag("placeholder.png", class: "img-responsive") %>

          </div>
        </div>

        <div class='gh-address-line'><span class='gh-heading-4'>phone:</span> <span class="gh-right"><%= @user.email %></span></div>
        <hr>
        <div class='gh-address-line'><span class='gh-heading-4'>Address:</span><span class="gh-right"> <%= @user.email %></span></div>
        <hr>
        <div class='gh-address-line'><span class='gh-heading-4'>Email:</span> <span class="gh-right"><%= @user.email %></span></div>
        <hr>
        <div class='gh-address-line'><span class='gh-heading-4'>GitHub:</span> <span class="gh-right"><%= @user.email %></span></div>
        <hr>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-body gh-main-content">
        <div class="row">
          <div class="col-md-12">
            <div class="joblist">
              <%= render @jobs %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="watchlist">
              <h3>Watched: </h3>
              <%= render partial: "/jobs/job", collection: @watchlist %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-body">
        <h3>RESUMES</h3>
      </div>
    </div>
  </div>
</div>
