<% content_for :navbar_links do %>
  <% if @user.business  %>
    <li><%= link_to "My Business",  business_admin_path%></li>
  <% else %>
    <li><%= link_to "Create Business",  new_business_path%></li>
  <% end %>
  <li><%= link_to "Edit Profile", logout_path%></li>
  <%= render 'layouts/basic_navbar/user_links' %>
<% end %>

<div class="page-heading">
<div class="container">  <h1>Profile:  <%= @user.full_name %></h1></div>
</div>
<div>

<div class='container-fluid page-content'>
  <div class="row">
    <div class="col-md-3">
      <div class="panel-body gh-address-box">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag(@user.image_url, class: "img-responsive") %>

          </div>
        </div>

        <div class='gh-address-line'><span class='gh-heading-4'>phone:</span> <span class="gh-right"><%= @user.email %></span></div>
        <hr>
        <div class='gh-address-line'><span class='gh-heading-4'>Address:</span><span class="gh-right"> <%= @user.email %></span></div>
        <hr>
        <div class='gh-address-line'><span class='gh-heading-4'>Email:</span> <span class="gh-right"><%= @user.email %></span></div>
        <hr>
        <div class='gh-address-line'><span class='gh-heading-4'>GitHub:</span> <span class="gh-right"><%= @user.email %></span></div>
        <hr>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-body gh-main-content">
        <div class="row">
          <div class="col-md-12">
            <div class="joblist">
               <%= render partial: "/jobs/job", collection: @jobs, locals: {type: "feed" } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="watchlist">
              <h3>Watched: </h3>
              <%= render partial: "/jobs/job", collection: @watchlist, locals: {type: "watchlist" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-body">
        <h3>RESUMES</h3>
      </div>
    </div>
  </div>
</div>
