<% content_for :navbar_links do %>
  <%= render 'layouts/basic_navbar/user_links' %>
<% end %>

<%= render "layouts/page_heading", locals = {heading: "Edit Business: #{current_user.nickname}"}%>

<div class='container page-content'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='panel-body gh-main-content'>
        <%= bootstrap_form_for [:business_admin, @business], url:
          :business_admin, method: :put do |f| %>
        <div class='row'>
          <div class='col-md-6'>
            <h4><strong>Note:</strong> Since your domain name is associated with the name you
              first gave us in order to change it you need to <%= link_to "contact
              us", contact_path %>.</h4>
            <%= f.fields_for @address do |s| %>
            <div class="row"><h3 class="col-md-6">Primary Address</h3></div>
            <%= s.text_field :street, placeholder: "Street" %>
            <%= s.text_field :unit, placeholder: "Unit" %>
            <%= s.text_field :city, placeholder: "City" %>
            <%= s.text_field :state, placeholder: "State" %>
            <%= s.text_field :zip, placeholder: "Zip" %>
            <% end %>
          </div>
          <div class='col-md-6'>
            <%= f.text_area :about, placeholder: "About", size: "24x20"  %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-centered">
            <%= f.submit "Edit Business" , class: "btn btn-default gh-form-button"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
