<% content_for :navbar_links do %>
  <%= render 'layouts/basic_navbar/user_links' %>
<% end %>

<%= render "layouts/page_heading", locals = {heading: "Dashboard: #{current_user.business.name}"}%>

<div class="container-fluid page-content">
  <div class="row">
    <div class="col-md-3">
      <div class="panel-body gh-address-box">
        <div class="row">
          <div class="col-md-12 ">
            <% if false %>
              <%= image_tag(@business.image_url, class: "img-responsive col-centered") %>
            <% else %>
              <%= link_to (image_tag Faker::Company.logo, class: "img-responsive"), @business %>
            <% end %>
          </div>
        </div>
        <div class='gh-address-line'><span class='gh-heading-4'>About:</span> <span class="gh-right"><%= @business.about.first(255) %></span></div>
        <hr>
        <% if @business.addresses.first %>
          <div class='gh-address-line'><span class='gh-heading-4'>Primary Location:</span> <span class="gh-right"><%= @business.addresses.first.full_address %></span></div>
        <% else %>
          <div class='gh-address-line'><span class='gh-heading-4'>Primary Location:</span> <span class="gh-right">No address on file</span></div>
        <% end %>
        <hr>
        <%= link_to "Edit Business Information", business_admin_edit_path,
          class: "btn btn-default gh-form-button" %>
      </div>
</div>
    <div class="col-md-6">
      <div class="panel-body gh-main-content">
        <div class="row">
          <div class="col-md-12">
            <div class="joblist">
              <%= link_to "Post New Job", new_business_admin_job_path,  class: "gh-form-button col-md-4 btn btn-default" %>
              <div class="gh-form-button change-status-button change-status-all col-md-2 active
              btn btn-default">
                All
              </div>
              <% @statuses.each do |status| %>
                <div class="gh-form-button change-status-button change-status-<%= status %> col-md-2
                btn btn-default">
                  <%= status %>
                </div>
              <% end %>
              <br>
              <br>
              <%= render partial: "business_admin/jobs/job", collection: @jobs, locals: { type: "index" }%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-body gh-main-content">
        <h2>Stats</h2>
        <ul>
          <li>
            <h3>Hired: 1 </h3>
          </li>
          <li>
            <h3>Applicants: 5</h3>
          </li>
        </ul>
      </div>
  </div>
</div>
  </div>

<%= javascript_include_tag "business_dashboard" %>
