<% content_for :navbar_links do %>
  <%= render 'layouts/basic_navbar/user_links' %>
<% end %>

<%= render "layouts/page_heading", locals = {heading: "Applications: #{@job.title}"}%>

<div>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class='row'>
    <div class='col-md-11 col-centered'>
      <div class='panel-body gh-main-content'>
        <div class="col-md-12">
  <%= render partial: "/business_admin/job_applications/job_application", collection: @job_applications, locals: {type: "index" } %>
      </div>
    </div>
  </div>
  </div>
</div>

<%= javascript_include_tag "jobs_index"  %>
