<div class=" row job job-status-<%= job.status %> job-listing-<%= job.title.parameterize %> gh-<%= type %>" >
  <div class='gh-job-details'>
    <div class="gh-job-header">
      <%= link_to job.title, job %>
    </div>
    <div class="title">
      <%= link_to "#{job.job_applications.count} Applicants", business_admin_job_applicants_path(job) %>
    </div>
    <div class="description">
      <%= job.description.first(140) %>
    </div>
  </div>
  <div class="button">
    <%= link_to "Edit Job", edit_business_admin_job_path(job) %>
    <%= button_to "Job Fulfilled", business_admin_job_path(job), method: :patch %>
  </div>
</div>
