<% content_for :navbar_links do %>
<%= render 'layouts/basic_navbar/user_links' %>
<% end %>

<%= render "layouts/page_heading", locals = {heading: link_to(@resume.user.nickname, profile_path) }%>

<div>
  <div class="container">

    <div class="row">
      <h1><%= @resume.title %></h1>
    </div>
    <div class="row">
      <%= @resume.description %>
    </div>
      <h4>Cover Letter:</h4>
        <a href = <%= @resume.cover_letter.url %>><%= @resume.cover_letter_file_name %></a>
      <div class="box">
        <iframe src=<%= @resume.cover_letter.url %> frameborder="0"></iframe>
      </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Repositories:</h3>
      </div>
    </div>
    <div class="benefits row">
        <% @repositories.each do |repository| %>
          <div class="col-md-10 col-centered">
            <%= link_to repository.name, "http://github.com/#{repository.full_name}" %>
          </div>
        <% end %>
    </div>
    <hr><br>
  </div>
