<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="gh-hero">
    <%= render 'layouts/landing_page_navbar/navbar' %>
    <%= yield %>
  </div>
  <div class="container">
    <div class="row gh-content-row">
      <div class="gh-content-header col-md-6"><h1>Jobbies</h1></div>
    </div>
    <div class="row gh-content-row">
      <div class="col-md-6">
        <div class='panel panel-default'>
          <div class='panel panel-body'>
            made swag you probably haven't heard of them taxidermy, mumblecore post-ironic. Gluten-free semiotics XOXO typewriter. Yr keytar lo-fi, irony cred PBR&B tilde flannel Bushwick actually four loko ethical. Bitters drinking vinegar tofu before they sold out. Slow-carb lumbersexual Blue Bottle, drinking vinegar sartorial church-key Godard flannel Echo Park distillery synth health goth tote bag quinoa cornhole. Fap fixie deep v, readymade chia health goth disrupt.
          </div>
        </div>


      </div>

      <div class="col-md-6">
        <div class='panel panel-default'>
          <div class='panel-body'>
            Kale chips Truffaut chillwave leggings, 3 wolf moon taxidermy XOXO Schlitz hella ennui Pitchfork quinoa fanny pack. Fixie tattooed Carles ennui slow-carb put a bird on it. Brooklyn sustainable Truffaut taxidermy, stumptown roof party Blue Bottle. Seitan Banksy Austin wolf, stumptown normcore blog cardigan irony migas occupy. Keytar put a bird on it asymmetrical craft beer, before they sold out meggings sustainable blog wayfarers squid. Mustache cornhole Helvetica, deep v typewriter four loko irony wayfarers Godard umami quinoa forage readymade cold-pressed. Tousled paleo selvage, keffiyeh lo-fi hashtag Banksy leggings seitan post-ironic ugh Neutra typewriter bitters twee.
          </div>
        </div>
      </div>
    </div>

  </body>

  </html>
