<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="gh-hero">
    <%= render 'layouts/landing_page_navbar/navbar' %>
    <%= yield %>
  </div>
  <div class="errors">
    <%= flash[:errors] %>
    <%= flash[:notice] %>
  </div>
  <div class="container page-content">
    <div class="row gh-content-row">
      <div class="gh-content-header  col-centered col-md-12 text-center"><h1>Git the job you want</h1></div>
      <div class="col-md-12 text-center"><h3>Our hiring partners</h3> </div>
    </div>
    <div class="row gh-content-row gh-landing-logos">
      <div>
        <%= link_to (image_tag Faker::Company.logo, class: "img-responsive"), Business.all.sample %>
      </div>
      <div>
        <%= link_to (image_tag Faker::Company.logo, class: "img-responsive"), Business.all.sample %>
      </div>
      <div>
        <%= link_to (image_tag Faker::Company.logo, class: "img-responsive"), Business.all.sample %>
      </div>
    </div>
    <div class="row gh-content-row gh-landing-logos">
      <div class='col-md-6 col-centered'>
        <%= link_to (image_tag Faker::Company.logo, class: "img-responsive"), Business.all.sample %>
      </div>
    </div>

    <div class="row gh-content-row gh-landing-logos">
      <div class="col-md-12">
        <div class='panel panel-default'>
          <div class='panel-body'>
            Kale chips Truffaut chillwave leggings, 3 wolf moon taxidermy XOXO Schlitz hella ennui Pitchfork quinoa fanny pack. Fixie tattooed Carles ennui slow-carb put a bird on it. Brooklyn sustainable Truffaut taxidermy, stumptown roof party Blue Bottle. Seitan Banksy Austin wolf, stumptown normcore blog cardigan irony migas occupy. Keytar put a bird on it asymmetrical craft beer, before they sold out meggings sustainable blog wayfarers squid. Mustache cornhole Helvetica, deep v typewriter four loko irony wayfarers Godard umami quinoa forage readymade cold-pressed. Tousled paleo selvage, keffiyeh lo-fi hashtag Banksy leggings seitan post-ironic ugh Neutra typewriter bitters twee.
          </div>
          <p class="em"><h4>-3 wolf moon taxidermy XOXO</h4></p>
        </div>
      </div>

    </div>
  </div>
  <%= render 'layouts/footer/footer' %>
</body>

</html>
